* {
    margin: 0;
    padding: 10px;
    /*border: 1px solid #ccc;*/
}
body{
    background-image: url(../imgs/imagem1.jpg);
    color: Black;
}
header{
    background-color: green;
    display: flex;
}
header img{
    padding: 2px;
    width: 100px;
    height: 100px;
}
section{
    background-color: azure;
    margin: 0px auto;
    width: 45%;
    border-radius: 8px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
table {
    text-align: center;
}
tr, th, td {
    padding: 2px 12px;
    border: 1px solid white;
    text-align:center;
    box-shadow: 2px 2px #ccc;
}

img {
    padding: 2px;
    width: 40px;
    height: 40px;
}
.trgrey {
    background-color: grey;
    color: white;

}

.trgain {
    background-color: gainsboro;
}

.tdleft {
    text-align: left;
}
.divescudo {
    padding: 2px;
    display: flex;
}

.boxylw {
    margin: 10px;
    background-color: yellow;
    width: 95%;
}