<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <header>
            <h1>Libertadores</h1>
        </header>
        <br />
        <section>
            <h2>Jogos</h2>
            <h3>Oitavas de Finais</h3>
            <diV>
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Casa</th>
                        <th>Gol</th>
                        <th>Gol</th>
                        <th>Fora</th>
                    </tr>
                    <tr>
                        <td>13/08/2024</td>
                        <td class="tdleft"><img src="../static/imgs/gremio.png">Grêmio</td>
                        <td>2</td>
                        <td>1</td>
                        <td class="tdleft">Fluminese</td>
                    </tr>
                    <tr>
                        <td>13/08/2024</td>
                        <td class="tdleft">Colo-Colo</td>
                        <td>1</td>
                        <td>0</td>
                        <td class="tdleft">Júnior</td>
                    </tr>
                    <tr>
                        <td>13/08/2024</td>
                        <td class="tdleft">São Lourenço</td>
                        <td>1</td>
                        <td>1</td>
                        <td class="tdleft">Atlético Mineiro</td>
                    </tr>
                </table>
            </diV>
            <br />
            <div>
                <h3>Tabela</h3>
                <table>
                    <tr class="trgrey">
                        <th>POS</th>
                        <th>Clubes</th>
                        <th>PON</th>
                        <th>JOG</th>
                        <th>VIT</th>
                        <th>EMP</th>
                        <th>DER</th>
                        <Th>SG</Th>
                        <th>GF</th>
                        <th>GS</th>
                    </tr>
                    <tr class="trgain">
                        <td>1ª</td>
                        <td class="tdleft">Grêmio</td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+1</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgrey">
                        <td>2ª</td>
                        <td class="tdleft">Colo-Colo</td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+1</td>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                    <tr class="trgain">
                        <td>3ª</td>
                        <td class="tdleft">São Lourenço</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgrey">
                        <td>4ª</td>
                        <td class="tdleft">Atlético Mineiro</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgain">
                        <td>5ª</td>
                        <td class="tdleft">Fluminese</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-1</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr class="trgrey">
                        <td>6ª</td>
                        <td class="tdleft">Júnior</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                </table>

                <div class="boxylw">
                    <p><b>POS</b> = Posição, <b>PON</b> = Pontos, <b>JOG</b> = Jogos, <b>VIT</b> = Vitória, <b>EMP</b> = Empates, <b>DER</b> = Derrotas, <b>SG</b> = Saldo de Gols, <b>GF</b> = Gols Feitos, <b>GS</b> = Gols Sofridos</p>
                </div>
            </div>

        </section>
        <br />
        <footer>

        </footer>
    </body>
</html>